* {
	border: none;
	border-radius: 0;
	font-family: Iosevka, Unifont Upper, monospace;
	font-size: 21.5px;
}

#waybar {
	background: #2f383e;
}

#clock,
#custom-event,
#battery,
#backlight,
#network,
#pulseaudio {
	padding: 0 10px;
	margin: 0 4px;
}

#clock {
	color: #83c092;
}

#custom-event {
	color: #7fbbb3;
}

#battery {
	color: #d699b6;
}

#battery.full {
	color: #a7c080;
}

#battery.charging {
	color: #83c092;
}

#backlight {
	color: #dbbc7f;
}

#network {
	color: #a7c080;
}

#network.disconnected {
	color: #e67e80;
}

#pulseaudio {
	color: #7fbbb3;
}

#pulseaudio.muted {
	color: #d699b6;
}

#tags {
	background: transparent;
}

#tags button {
	color: #4b565c;
}

#tags button.occupied {
	color: #83c092;
}

#tags button.focused {
	background: #83c092;
	color: #2f383e;
}

#tags button.urgent {
	background: #e67e80;
	color: #2f383e;
}

#window {
	margin: 0 4px;
}

/* NOTE: default style on GitHub has good workspace module margin logic */
